#header-row { display: flex; }

.header-panel { text-align: center; }

#logo { width: 130px; margin: 15px 0; }

#header-panel3 { 
	display: flex;
	align-items: center;
	background: #EAEAEA;
}
#search-form { width: 100%; }

#search-form input { 
	width: 100%;
	background: transparent; 
	border: 1px solid #C0C0C0; border-width: 0 0 1px;
}

@media (max-width: 991px) {
	#header-row { justify-content: center; }
	#header-panel1,
	#header-panel3 { display: none; }
}