#trending-title { font-size: 1em; font-weight: bold; }

#trending-body { 
	display: flex; 
	flex-wrap: wrap; align-content: flex-start; justify-content: space-around;
}
.trending-item { display: block; }
@media (max-width: 460px) {
	#trending-title { margin: 1em 10px 10px; }
	.trending-item { 
		width: calc((100% / 2) - 20px); 
		margin: 0 0 20px;
	}
}
@media (min-width: 461px) and (max-width: 991px) {
	#trending-title { margin: 1em 10px 10px; }
	.trending-item { 
		width: calc((100% / 3) - 20px); 
		margin: 0 0 20px;
	}
}
@media (min-width: 992px) and (max-width: 1260px) {
	#trending-title { margin: 1em 0 10px; }
	.trending-item { 
		width: calc((100% / 2) - 5px); 
		margin: 0 0 5px;
	}
}
@media (min-width: 1261px) {
	#trending-title { margin: 1em 0 10px; }
	.trending-item { 
		width: calc((100% / 3) - 5px); 
		margin: 0 0 5px;
	}
}
.trending-item img { width: 100%; }